body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checklist-container {
  margin-top: 50px;
  width: 479px;
  min-height: 884px;
  background: #848499;
}

form {
  display: flex;
  align-items: center;
}

form > * {
  outline: none;
}

#button-add {
  width: 98px;
  height: 65px;
  background: #91d9c7;
  font-family: Roboto, "sans-serif";
  font-size: 20px;
  border: 2px solid rgb(88, 88, 88);
}

.input-item {
  margin: 10px 5px 10px 25px;
  font-size: 19px;
  width: 300px;
  height: 59px;
  background: #ffffff;
  border: 2px solid rgb(88, 88, 88);
}

.list-items-container {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 428px;
  height: 73vh;
  background: #b6b6c9;
}

#button-clear {
  width: 479px;
  height: 74px;
  background: #f86969;
  /* Import Roboto font */
  font-family: Roboto, "sans-serif";
  font-weight: bold;
  font-size: 36px;
  line-height: 74px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}

li {
  cursor: pointer;
  width: fit-content;
}

/* Text Box */
